<!DOCTYPE html>
<html ng-app="top.nemanja.sexify">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=">
		<title></title>
	</head>
	<body>
		<div class="window" ng-controller="SexifyController">
			<header class="toolbar toolbar-header">
				<h1 class="title">Sexify</h1>
			</header>
			<div class="window-content">
				<div class="pane-group">
					<div class="pane pane-sm sidebar">
						<nav class="nav-group">
							<h5 class="nav-group-title">Status</h5>
							<span class="nav-group-item">
								<span class="icon icon-record" ng-class="{'icon-green': badoo.status, 'icon-red': !badoo.status}"></span>
								Badoo account
							</span>
						</nav>
					<nav class="nav-group">
						<h5 class="nav-group-title">Menu</h5>
						<a class="nav-group-item" ng-repeat="item in menu.items" ng-click="menu.change(item.id)" ng-class="{active: menu.selected == item.id}">
							<span class="icon icon-{{item.icon}}"></span>
							<span ng-bind="item.name"></span>
						</a>
					</nav>
					</div>
					<div class="pane">

						<% include elements %>	
						<div class="pane-bottom">
							<div class="tab-group">
								<div class="tab-item active">
									<span class="icon icon-cancel icon-close-tab"></span>
									Main log
								</div>
								<div class="tab-item">
									<span class="icon icon-cancel icon-close-tab"></span>
									Warning log
								</div>
								<div class="tab-item">
									<span class="icon icon-cancel icon-close-tab"></span>
									Error log
								</div>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<div class="media-body">
										<strong>Retrived session data</strong>
										<p>{{badoo.session}}</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	

		<script src="assets/bundle.js" type="text/javascript"></script>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>
