.icon-red {
	color: #fc605b !important;
}

.icon-green {
	color: #34c84a !important;
}

.pane {
	height: 100%;
}

.pane-top {
	position: absolute;
	top: 0px;

	overflow-y: auto;

	border: none;
	border-bottom: 1px solid #ddd;

	height: 60%;
	width: 100%;
}

.pane-bottom {
	position: absolute;
	bottom: 0px;

	margin-top: -6px;
	overflow-y: auto;
	height: 40%;
}

